
.anim {
  background-color: blue;
  width: 25vw;
  height: 25vw;
/*   animation-name: move;
  animation-duration: 1s;
  animation-iteration-count: 10; */
  animation: move 5s 
}
@keyframes move{
  0%{
    transform: translateX(20px);
  }
  50%{
    transform: translateX(100px);
    background-color: red;
  }
  75%{
    transform: translateX(-200px);
    background-color: yellow;
  }
  100%{
    background-color: blue;
  }
}